ErrorDocument 401 "Unauthorized"
AuthUserFile /var/www/.htpasswd 
DirectoryIndex primarycolors.html
AuthType Basic
AuthName "Order is left to right."
require user redbluewhitepink
<Files ~ "\.(jpq|jpeg|png|gif)$">
   order deny,allow
      allow from all
satisfy any
</Files>
