ErrorDocument 401 "Unauthorized"
AuthUserFile /var/www/.htpasswd 
DirectoryIndex index.html
AuthType Basic
AuthName "Ancient language, modern speech."
require user vacuumcleaner 
<Files ~ "\.(jpq|jpeg|png|gif)$">
   order deny,allow
      allow from all
satisfy any
</Files>
