ErrorDocument 401 "Unauthorized"
AuthUserFile /var/www/.htpasswd 
DirectoryIndex legends.html
AuthType Basic
AuthName "Awakening of the princess"
require user beethoven 
<Files ~ "\.(jpq|jpeg|png|gif)$">
   order deny,allow
      allow from all
satisfy any
</Files>
